
h1 {
    text-align: center;
    font-family: poppins;
}

.options {
    width: 20%;
    background-color: rgb(237, 240, 243);
    box-shadow: 5px 10px 10px grey;
    padding: 1rem;
    margin: 1rem;
    display: flex; 
    flex-direction: column; 
    align-content: center;
    text-align: center; 
    font-family: poppins; 
}



.choices {
    display: flex; flex-direction: row;

}

#button {
    background-color: orange;
    padding: .5rem;
}
.button-container {
    text-align: center;
}

